.profile-container {
  box-shadow: inset 0 0 5px 5px black;
  background: rgb(240, 236, 229);
}
.info-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.file {
  min-width: 430px;
  box-shadow: 0 0 3px 3px black;
  padding: 10px 30px;
  background: white;
}
.info-container .input-file {
  padding: 20px 60px;
}
.info-container .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.info-container .label {
  font-weight: 700;
  color: purple;
  border: 1px solid purple;
  background-color: white;
  display: inline-block;
  padding: 5px;
}
.status-container {
  margin-top: 30px;
  padding: 5px;
}
.status span {
  color: purple;
  font-style: italic;
  font-size: 20px;
  cursor: pointer;
}

.data-container {
  line-height: 30px;
  margin-left: 30px;
}
.data-container h4 {
  color: purple;
}
.data-container h3 {
  text-decoration: underline;
}
.data-container h4 span {
  color: initial;
  font-style: italic;
  text-decoration: none;
}
.buttonSave {
  margin: 5px 0 7px 0;
}
.form-data {
  margin-left: 30px;
}
.form-data input,
textarea {
  margin: 0 0 10px 0;
  border-bottom: 2px solid purple;
}
.form-data textarea {
  width: 200px;
}
.form-data span {
  margin-left: 55px;
}
